$table-primary: black;

.pe-basic-table {
  width: 100%;
  .pe-table {
    width: 100%;
    .pe-table-btn {
      margin-left: 5px;
      margin-bottom: 2px;
    }

    .sort-icon {
      color: blue;
      float: right;
    }

    .action-col {
      text-align: center;
    }
  }

  &.pe-table-emty {
    text-align: center;
  }

  .pe-table-pagination {
    text-align: center;
  }
  .pe-table-total {
    text-align: center;
    font-size: 16px;
    border-top: 1px solid $table-primary;
    padding-top: 5px;
  }
  .scroll-x{
    overflow-x: auto;
    margin-bottom: 5px;
  }
  .scroll-x::-webkit-scrollbar {
    height: 10px;
  }

  .scroll-x::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
  }

  .scroll-x::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
}


//filtered table
.pe-filtered-table{
  .pe-filter{

  }

  .pe-body{

  }

  .pe-option{
    text-align: right;
  }

  .collapse-pointer{
    cursor: pointer;
  }

}
